.DS_Store
Default (Linux).sublime-keymap
Default (OSX).sublime-keymap
Default (Windows).sublime-keymap
Package Control.cache
Package Control.last-run
Package Control.sublime-settings
Package Control.system-ca-bundle
Preferences.sublime-settings
README.md
Swig.sublime-settings
